   <!--SiGN UP-->
         <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Sign up</h4> <small>{{authErr}} </small>
                            </div>
                            <div class="content">
                                <form ng-submit="signup()"> 
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group form-horizontal">
                                                <label>Email</label>
                                                <input type="text" class="form-control" ng-model="email"  placeholder="Email" >
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" ng-model="password" placeholder="Username" >
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                 <button  class="btn btn-lg" ng-click="vm.authService.signup(email,password)" > signUp </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>