


            <div class="container-fluid" ng-init="tbx()">
                <div class="row">
                    <h1>{{selectedUser.name }} </h1>
                  
                </div>
            </div>


             <div class="content">
            <div class="container-fluid">
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a>
                                    <img class="avatar border-gray" src="{{selectedUser.profilePicUrl}}" alt="..."/>
                              
                              <div class="form-group">
                                 
                                      <input type="text" disabled   class="form-control" ng-model="selectedUser.profilePicUrl" class="form-control" pattern="" >
                                
                              </div>
                              
                                      <h4 class="title">{{selectedUser.firstName + ' ' + selectedUser.lastName}}<br />
                                         <small>@{{selectedUser.username}}</small>
                                      </h4>
                                    </a>
                                </div>
                                <p class="description text-center"> "{{selectedUser.aboutMe}}<br/>
                                || <b>Company: </b>{{selectedUser.company}} 
                               || <b>University:</b> {{selectedUser.university}} || <br/>
                               || <b>City: </b>{{selectedUser.city}}  || <b>Country: </b> {{selectedUser.country}} ||  <br/>
                               || <b> JOB Title</b> {{selectedUser.jobTitle}} || <br>
                              <h4 class="text-center" style="border:2px;border-style: dotted;border-color:black;">{{selectedUser.phone}}  </h4>
                                </p>
                                



                            </div>
                            <hr>
                            <div class="text-center">
                               <a href="{{selectedUser.facebook}}"> <button  class="btn btn-simple"><i class="fa fa-facebook-square"></i></button></a>
                                <a href="{{selectedUser.twitter}}"><button  class="btn btn-simple"><i class="fa fa-twitter"></i></button></a>
                                <a href="{{selectedUser.linkedIn}}"><button  class="btn btn-simple"><i class="fa fa-linkedin"></i></button></a>

                            </div>
                        </div>
                          
                    </div>
                     <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                    <button type="submit" class="btn btn-success btn-fill pull-left">Following</button>
                                    <button   class="btn btn-danger btn-fill pull-right" ng-click="removeFriend(selectedUser.uniqueId)">Remove as Friend</button>
                                    <div class="clearfix"></div>
                               
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>