
            <div class="container-fluid">
                <div class="row">

                    <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Search:</label>
                        <div class="col-sm-10">
                            <input type="search" name="" ng-model="friendSearch" class="form-control" placeholder="search">
                        </div>
                    </div>
                    </div>
                    </div>
                    <hr/>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-repeat="x in friends">
                        <div class="thumbnail"> 
                            <img src="{{x.profilePicUrl}}" alt="">
                            <div class="caption text-center">
                                <h3>{{x.firstName + ' ' + x.lastName}}</h3>
                                <p>
                                <strong>{{x.company}}</strong>  <small>( {{x.jobTitle}} ) </small><br/>
                                <small>{{x.aboutMe | limitTo:60}} </small> <br/><hr/>
                                   || <small> {{x.age}} </small> || <small> {{x.city}} </small> || <small> {{x.country}} </small> ||
                                </p>
                                <p>
                                    <button class="btn btn-success" disabled > Following</button>
                                    <a ui-sref="peopleDetails({selectedUser:{{x}}})"  class="btn btn-default" >Details</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
