

 <div class="container-fluid" ng-controller="DashboardCtrl">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{xas}}</a>
                </div>
                <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" ui-sref="home"">
                                <i class="fa fa-dashboard" ></i>
                            </a>
                        </li>
                        <li uib-dropdown>
                              <a  class="dropdown-toggle" uib-dropdown-toggle>
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">{{notifications.length}}</span>
                              </a>
                              <ul uib-dropdown-menu>

                                <div class="form-inline"><li ng-repeat="x in notifications">

                                <a ng-click="openUser(x)" >{{x.notify}}</a>
                                <span class=" badge pull-right" ng-click="notifications.$remove(x)"><i class="fa fa-remove"></i></span>
                                
                                </li>
                               </div>
                              </ul>
                        </li>
                        <li>
                           <a ui-sref="people.search">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                       
                     
                        <li>
                            <a ng-click="click()">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <script src="assets/js/demo.js"></script>
